.cards
{
  // border: 1px solid red;
  min-width: 100%;
  height: 80vh;
  padding: 0 1.5em;
}

.cards__wraper
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  // grid-template-rows: repeat(, 1fr);
}

.card
{
  position: relative;
  height: 260px;
  max-width: 370px;
  padding: 2em 2em 0 2em;
  margin: 3em auto;
  background-color: white;
  border-radius: 1em;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.20);
  h2
  {
    margin-bottom: .5em;
  }
  p
  {
    font-weight: 200;
    color: $color-medio;
  }
  &--image
  {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 20px;
    // height: 8em;
  }
}

.card-supervisor
{
  margin-right: 0;
  border-top: 3px solid $linea-cyan;
}
.card-team
{
  // margin: 3em auto;
  border-top: 3px solid $linea-roja;
}
.card-karma
{
  border-top: 3px solid $linea-yellow;
}
.card-calculator
{
  margin-left: 0;
  border-top: 3px solid $linea-blue;
}

.cards_grid1
{
  // display: flex;
  align-self: center;
}
.cards__grid2
{
  display: block;
}
.cards__grid3
{
  @extend .cards_grid1;
}

@media screen and (max-width: 1024px)
{
  .cards__wraper
  {
    grid-column-gap: 30px;
  }
  .card--image
  {
    height: 6.5em;
  }
}

@media screen and (max-width: 780px)
{
  .card--image
  {
    height: 8em;
  }
  .cards__wraper
  {
    display: block;
    margin-top: 4em;
  }
  .card-supervisor
  {
    margin-right: auto;
  }
  .card-calculator
  {
    margin-left: auto;
    // margin: 3em auto;
  }
  .card
  {
    p
    {
      font-size: .8em;
    }
  }
}