.title
{
  // border: 1px solid red;
  min-width: 100%;
  max-height: 50vh;
  padding: 5em 1.5em 1em;
  text-align: center;
}

.title1
{
  font-size: 2em;
  color: $color-medio;
  font-weight: 400;
}
.title2
{
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.description
{
  max-width: 400px;
  margin: 0.8em auto;
  font-size: 0.8em;
  color: $color-medio;
}

@media screen and (max-width: 376px)
{
  .title1 
  {
    font-size: 1.6em;
  }
  .title2 
  {
    font-size: 1.6em;
  }
  .description
  {
    // padding: 0 1.5em;
    font-size: .9em;
  }
}

@media screen and (max-width: 320px)
{
  .title1 
  {
    font-size: 1.4em;
  }
  .title2 
  {
    font-size: 1.4em;
  }
}